.cust-link {
  color: #aaa!important;
  padding: 10px;
}

.cust-nav {
  background-color: #222!important;
}

.cust-text {
  color: #fff!important;
  font-family: 'Dancing Script', cursive;
  text-transform: none;
  font-size: 30px;
  font-weight: 500;
}