.custom-jumbo {
    clear: both;
    text-align: center;
    align-content:center;
    justify-content:center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background: url('./book3.jpg');
    height:400px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 80px!important;
    font-family: 'Dancing Script', cursive;
}