.btn-custom {
  background-color: #222c;
  margin: 2px;
  color: #fff;
}

.btn-saved {
  background-color: rgba(77, 72, 72, 0.342);
  margin: 2px;
  color: #222c;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  padding: 10px;
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
