.btn-custom {
  background-color: #222c;
  margin: 2px;
  color: #fff;
}

.btn-delete {
  background-color: rgba(77, 72, 72, 0.342);
  margin: 2px;
  color: #222c;
}

.src-img {
  width: 128px;
  height: 192px;
  margin: 5px;
}

.share-icon {
  color: #28a745c2;
  margin-left: 10px;
}

.share-icon:hover {
  color: rgba(34, 34, 34, 0.404);
  cursor: pointer;
}
