.btn-custom {
  background-color: #222c;
  margin: 2px;
  color: #fff;
}

.btn-delete {
  background-color: rgba(77, 72, 72, 0.342);
  margin: 2px;
  color: #222c;
}

.src-img {
  width: 128px;
  height: 192px;
  margin: 5px;
}

